/* Variables */
:root {
  /**
   * VS Code dark+ color palette 
   * http://www.eclipsecolorthemes.org/?view=theme&id=50827
   */
  --code-annotation: #fff;
  --code-class: #4ec9b0;
  --code-field: #9cdcfe;
  --code-method: #dcdcaa;
  --code-operator: #d8d8d8;
  --code-singleLineComment: #608b4e;
  --code-string: #ce9178;

  /* Site colors */
  --background-primary: #2a2a2a;
  --background-secondary: #4ec9b0;
  --muted-text: #aaa;

  /* Social media colors */
  --codepen: #0ebeff;
  --github: #211f1f;
  --linkedin: #007bb5;
}

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1em;
}

.no-scroll {
  overflow: hidden;
}

.page {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 8em 1em;
  width: 100%;
}

.content {
  font-size: 18px;
  width: 100%;
}

h1 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.text-right {
  text-align: right;
}

.clickable-padding {
  cursor: pointer;
  margin: -0.5em;
  padding: 0.5em;
}

.icon {
  font-size: 42px;
}

.icon-shadow {
  text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.6);

  &:hover {
    cursor: pointer;
    text-shadow: 0 0 1em rgba(255, 255, 255, 0.8);
  }
}

.float-right {
  float: right;
}

/* Code indents */
@for $i from 1 through 5 {
  [class="indented-#{$i}"] {
    margin-left: #{$i * 1em};
  }
}

/* Code colors */
$code-types: annotation class field method operator singleLineComment string;

@each $type in $code-types {
  .code-#{$type} {
    color: var(--code-#{$type});
  }
}

[class^="code"] {
  word-break: break-word;
}

@media only screen and (min-width: 768px) {
  .content {
    width: 600px;
  }
}
