.about {
  background-color: var(--background-secondary);
  color: var(--background-primary);
}

.aboutContent {
  width: calc(100% - 6em);
}

.contactMe {
  font-size: 14px;
  font-style: italic;

  a {
    color: #fff;
  }
}

.socialIcons {
  display: flex;
  flex-direction: column;

  i {
    color: var(--border-gray);
    font-size: 64px;
    margin-bottom: 0.5em;
    transition: color 0.4s ease-out;
  }
}

.codepen i:hover {
  color: var(--codepen);
}

.github i:hover {
  color: var(--github);
}

.linkedin i:hover {
  color: var(--linkedin);
}

@media only screen and (min-width: 768px) {
  .aboutContent {
    width: 600px;
  }
}
