.downloadPdf {
  background: var(--code-class);
  border-radius: 0.5em;
  color: var(--background-primary);
  cursor: pointer;
  display: block;
  padding: 1em;
  text-align: center;
  width: calc(100vw - 4.5em);

  &:hover {
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {
  .downloadPdf {
    width: auto;
  }
}
