.header {
  align-items: center;
  background-color: var(--background-primary);
  box-shadow: 0 1px 8px 0 rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  gap: 2em;
  padding: 1em 2em;

  a:hover {
    text-decoration: none;
  }

  nav {
    display: flex;
    flex: 1;
    justify-content: center;

    ul {
      display: flex;
      list-style-type: none;
      position: relative;
    }

    a {
      display: inline-block;
      font-size: 24px;
      padding: 0 1.5em;
      text-align: center;
    }

    hr {
      background-color: white;
      border: none;
      bottom: -0.75em;
      height: 2px;
      position: absolute;

      /* Slide between active pages */
      --hrSlide: 0.4s ease-in-out;
      -moz-transition: var(--hrSlide);
      -ms-transition: var(--hrSlide);
      -o-transition: var(--hrSlide);
      -webkit-transition: var(--hrSlide);
      transition: var(--hrSlide);
    }
  }
}

.logo {
  flex: 1;
}

@media only screen and (min-width: 768px) {
  .header nav {
    justify-content: flex-end;
  }

  .logo {
    flex: unset;
  }
}
