.menu {
  align-items: center;
  background-color: var(--background-primary);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  nav {
    display: flex;
    flex-direction: column;

    a {
      display: block;
      font-size: 42px;
      margin-bottom: 1em;
      position: relative;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.menuClose {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.activeIcon {
  font-size: 32px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .menuClose {
    right: 1em;
    top: 1em;
  }
}
